<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donar Page</title>
    {% load static %}
    <link href="{% static 'login.css' %}" type="text/css" rel="stylesheet">

</head>
<body>
 {% csrf_token %}
<center>
    <h1>DONAR DETAILS</h1>
<table bgcolor="white" border="1" width="100%" height="200%">
    <thead>
        <th>Blood Group</th>
        <th>Name </th>
        <th>Age </th>
        <th>Phone no. </th>
        <th>Place </th>

     </thead>
    {% for i in datas %}
    <tr>
        <td>{{i.blood_group}}</td>
        <td> {{i.name}}</td>
        <td> {{i.age}}</td>
        <td> {{i.ph_no}}</td>
        <td> {{i.place}}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>
