<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN IN</title>
    {% load static %}
    <link href="{% static 'login.css' %}" type="text/css" rel="stylesheet">

</head>
<body>
<h2><center>SIGN IN</center></h2>
<br>
<script type="text/javascript"> var name=window.alert("LOGIN finished");
</script>
<form action="" method="post">
    {%csrf_token%}
<table align="center"cellpadding="10">
<tr>
<td>UserName</td>
<td><input type="text" name="Username" maxlength="25" placeholder="enter user name"/> </td>
</tr>
<tr>
<td>Password</td>
<td><input type="password"name="Password" maxlength="100" placeholder="enter password"/></td>
</tr>
</table>
    <center>
            <input type="submit" value="Login In" name="enquiry"><br></br>
         <a href="{% url 'new' %}">New user?</a><b></b><b></b>&emsp;&emsp;&emsp;
     <a href="{% url 'forgot' %}" align="left">Forgot password?</a><b></b><b></b>
</center>
</form>
</body>
</html>
